<% default_path = pagination_default_path || '' %>

<% if paginate && num_pages > 1 %>
  <ul class="pagination">
      <% if prev_page %>
          <li class="pagination--item"><%= link_to '← Туда', prev_page %></li>
      <% end %>

      <% if page_number == 1 %>
          <li class="pagination--item"><%= page_number %></li>
      <% else %>
          <li class="pagination--item"><%= link_to 1, prev_page %></li>
      <% end %>

      <% (2...page_number).each do |num| %>
          <li class="pagination--item"><%= link_to num, "#{default_path}/page/#{num}" %></li>
      <% end %>

      <% if page_number != 1 %>
          <li class="pagination--item pagination--active-item"><%= page_number %></li>
      <% end %>

      <% ((page_number + 1)..num_pages).each do |num| %>
          <li class="pagination--item"><%= link_to num, "#{default_path}/page/#{num}" %></li>
      <% end %>

      <% if next_page %>
        <li class="pagination--item"><%= link_to 'Сюда →', next_page %></li>
      <% end %>
  </ul>

<% end %>
